# exclude everything
data/*

# exception to the rule
!data/.gitkeep 

.DS_Store
.Rhistory

# LaTeX auxiliary files
**/*.log
**/*.aux
**/*.out
**/*.toc
**/*.fls
**/*.fdb_latexmk
**/*.synctex.gz
**/*.bbl
**/*.blg
**/*.lof
**/*.lot
**/*.nav
**/*.snm
**/*.vrb